@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Grotesk:wght@500&display=swap');
@import url('./fireworks.scss');


* {
    padding: 0;
    margin: 0;box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: rgb(100, 194, 128);
    transition: all 0.8s ease;
    .field{
        position: absolute;
        top:50%;
        left:50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        height: 40px;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;

        i{
          padding: 10px;
        }
        input{
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            
        }
        ::placeholder{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                
            }
        .show-password{
            position: absolute;
            top: 50px;
            color:white;
            font-size: 14px;
            text-decoration:none;
            &:hover{
                text-decoration:underline;
            }
        }

        .error{
            position: absolute;
            top: -35px;
            left:0;
            font-size: 14px;
            color:white;
            transition: all 0.5s ease;
        }   
    }
    .thanks{
        position: absolute;  
        top:50%;
        left:50%; 
        transform: translate(-50%, -50%); 
        p{
            font-size:34px;
            text-align: center;
            color: white;
           
        }

    } 
    .hide{
       opacity: 0;
    } 
    .show {
       opacity: 1;
    } 

}

.inactive{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%);

}

.active{
    opacity: 1;
    transform: translate(-50%, -50%);
}


@keyframes shake{
    0%{
        transform: translate(-50%, -50%)rotate(0deg)
    }
    50%{
        transform: translate(-50%, -50%)rotate(10deg)
    }
    100%{
        transform: translate(-50%, -50%)rotate(0deg)
    }
}